@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

 @font-face {
    font-family: "Raleway";
    src: url('/src/fonts/Raleway/Raleway-VariableFont_wght.ttf');
    font-family:"Kaushan Script";
    src: url("/src/fonts/Kaushan_Script/KaushanScript-Regular.ttf");
    font-family: "Montserrat";
    src: url("/src/fonts/Montserrat/Montserrat-VariableFont_wght.ttf");
    font-family: "Open Sans";
    src: url("/src/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf");
 }


*,*::before,*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}
ul,ol{
    list-style: none;
}
a,a:focus,a:active{
    text-decoration: none;
}
$fontNav:"Open Sans";
$font-main:"Raleway";
$font-cursiv:"Kaushan Script";

$mainColor:#F38281;
$darkColor:#2D3033;

%flex-sb{
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
%font-element{
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

%mainTitle{
    padding: 20px 0;
    font-family: $font-cursiv;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 44px;
    text-align: center;
    color: $darkColor;
    @media screen and (max-width:1024px){
        font-size: 24px;
        line-height: 35px;
    }
    @media screen and (max-width:320px){
        padding: 15px 0;
    }


}

%subtitle{
    padding:18px 0;
    margin-bottom: 24px;
    font-family: $font-main;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    text-transform: uppercase;
    color: $darkColor;
    @media screen and (max-width:1024px){
        font-size: 24px;
        line-height: 28px;
    }
    @media screen and (max-width:320px){
        margin-bottom:19px ;
    }
}

%text{
    padding: 28px 0;
    font-family: $font-main;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    @media screen and (max-width:1024px){
        font-size: 14px;
        line-height: 16px;
    }
}
%line{
    width: 170px;
    margin: 0 auto;
    @media only screen and (max-width:320px) {
        width: 134px;
        
    }
}
%arrow{
    margin-top: 80px;
    width: 37px;
    height: 20px;
    border-top: 2px solid #C6CBCD;
    border-right: 2px solid #C6CBCD;
    margin-right: 60px;
    @media only screen and (max-width:320px) {
        display: none;
    }

}
%title_footer{
    padding: 36px 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #2D3033;
    @media only screen and (max-width:1024px){
        padding:20px 0;
        font-size: 18px;
        line-height: 21px; ;
    }
}

$maxWidth:1510;

@mixin adaptiv-font($pcSize,$mobSize){
    $addSize: $pcSize - $mobSize;
    $maxWidth: $maxWidth - 320;
    font-size:calc(#{$mobSize+px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}
@mixin adaptiv-LH($pcLH,$mobLH){
    $addSize: $pcLH - $mobLH;
    $maxWidth: $maxWidth - 320;
    font-size:calc(#{$mobLH+px} + #{$addSize} * ((100vw - 320px) / #{$maxWidth}));
}

.container{
    width: 100%;
    padding: 0 170px;
    @media only screen and (max-width:1024px) {
        padding: 0 16px;
        
    }
}
/*Header style start*/
.header{
    position: absolute;
    width: 100%;        
    .navigation{
        width: 100%;
        font-family: $fontNav;
        font-weight: 600;
        @include adaptiv-font(14,13);
        @include adaptiv-LH(15,14);
        @extend %font-element;
        @extend %flex-sb;   
        @media screen and (max-width:320px){
            position: absolute;
            top: 0;
            left: 0;
            
        }     
        & > img{
            display: block;
            @media screen and (max-width:1024px){
                max-width: 183px;
            }
            @media screen and (max-width:320px){
                max-width: 136px;
                position: sticky;
                left:10px
                
            }
            
        }
        .menu_header{
            @media only screen and (max-width:320px){
                width: 100%;
                position: absolute;
                top: -1000%;
                right:0;
                transition: all 0.8s;
                &.open{
                    z-index: 5;
                    top:55px;
                }
            }
            .header_list{
                min-width: 670px;
                @extend %flex-sb;
                @media screen and (max-width:1024px){
                    min-width: 550px;
                }
                @media only screen and (max-width:320px){
                    background:linear-gradient(rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9)100%), url(/src/img/Rectangle\ 2.png);
                    display: block;
                    min-width: 318px;
                    height: 100vw;
                    text-align: center;
                    
                }
                li{
                    cursor: pointer;
                    img{
                        object-fit: cover;
                    }
                    &:hover{
                        color:$mainColor;
                        border-bottom: 1px solid $mainColor;
                    }
                    @media only screen and (max-width:320px){
                        min-height: 45px;
                        
                    }
                }
                
            }
        }
        .header_burger{
            display: none;
            span{
                position: absolute;

                width: 100%;
                height: 2px;
                background: #FFFFFF;
                transition: all 0.2s ease;
                &:nth-child(2){
                    transform: translateY(6px);
                }
                &:nth-child(3){
                    transform: translateY(12px);
                }
            }
            

            @media only screen and (max-width:320px) {
                display: block;
                position: absolute;
                left: 250px;
                width: 24px;
                height: 18px;
            }
        }
        
    }
    
}
.header.open .header_burger span:nth-child(2){
    opacity:0;
}
.header.open .header_burger span:nth-child(1){
    transform: rotate(45deg);
    top: 5px;
}
.header.open .header_burger span:nth-child(3){
    transform: rotate(-45deg);
    top: 5px;
}


/*Header style end*/


/*Section welcome start*/
.section_welcome{
    padding-top: calc(90px + (177 - 90) * ((100vw - 320px) / (1510 - 320)));
    background:linear-gradient(rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9)100%), url(/src/img/Rectangle\ 2.png);
    width: 100%;
    
   
    .title_welcome{
        @include adaptiv-font(64,36);
        line-height: calc(52px + (93 - 52) * ((100vw - 320px) / (1510 - 320)));
        font-family: $font-cursiv;
        font-weight: 400;
        @extend %font-element;
       
    }

    .main_title{
        padding-bottom: calc(0px + (44 - 0) * ((100vw - 320px) / (1510 - 320))); 
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(144,48);
        line-height: calc(59px + (176 - 59) * ((100vw - 320px) / (1510 - 320)));
        @extend %font-element;
       
    }
    .line{
        @extend %line;
        border: 2px solid #FFFFFF;
    }
    .btn_welcome{
        margin: 74px auto 0 auto;
        display: block;
        cursor: pointer;
        min-width: 370px;
        min-height: 77px;
        border:4px solid #FFFFFF;
        font-family: $font-main;
        font-style: normal;
        font-weight: 700;
        @include adaptiv-font(24,18);
        line-height: 28px;
        background: transparent;
        @extend %font-element;
        &:hover{
            background: #FFFFFF;
            color: #E4BE8D;
        }
        &:active{
            border: 4px solid #E4BE8D;   
        }
        @media screen and (max-width:1024px){
            margin:50px auto 0 auto;
            min-width: 317px;
            min-height: 52px;
        }
        @media screen and (max-width:320px){
            margin:50px auto 0 auto;
            min-width: 284px;
            min-height: 52px;
        }
    
    }
    .slider{
        padding-top: calc(53px + (116 - 53) * ((100vw - 320px) / (1510 - 320)));
        display: flex;
        justify-content: space-between;
        .box_slider{
            width: 100%;
            &:not(:first-child){
                padding-left: calc(20px + (30 - 20) * ((100vw - 320px ) / (1510 - 320)));
            }
            .line_slider{
                border: 2px solid #F9EFCF;
                @media screen and (max-width:320px){
                    margin-bottom: 42px;;
                }
            }
            .number_box{
                padding: 10px 0;
                font-family:$fontNav;
                @extend %font-element;
                text-align: start;
                font-size: 24px;
                font-weight: 100;
                span{
                    font-size: 36px;
                    font-weight: 700;
                }
                @media screen and (max-width:320px){
                    display: none;
                }
    
            }
        }
        
    }
   
}


/*Section welcom end*/


/*Section about start*/
.section_about{
    padding: calc(29px + (42 - 29) * ((100vw - 320px ) / (1510 - 320))) 0 calc(59px + (108 - 59) * ((100vw - 320px ) / (1510 - 320))) 0;
    .title_about{
        @extend %mainTitle;
    }
    .subtitle_about{
        @extend %subtitle;
        @media screen and (max-width:320px){
            margin-bottom: 20px;
        }

    }
    .red_line{
        @extend %line;
        border: 2px solid $mainColor;
    }
    .text_about{
        margin-bottom: calc(16px + (58 - 16) * ((100vw - 320px ) / (1510 - 320)));
        @extend %text;
        @media screen and (max-width:1024px){
            padding: 18px 0;
        }
        @media screen and (max-width:320px){
            padding: 5px 0;
        }
    }
    .content_about{
        display: flex;
        width: 100%;
        justify-content: space-between;
        @media screen and (max-width:320px){
            display: inline-block;
            & > div{
                margin-top: 16px;
            }
        }
        .box_about{
            position: relative;
            transition:all 3s ease-in-out;
            .box_origin{
                background-color: #95E1D3;
                cursor: pointer;
                min-width: 370px;
                min-height: 338px;
                @media only screen and (max-width:1220px) {
                    min-width: 350px;
                    min-height: 289px;
                    
                }
                @media only screen and (max-width:1024px) {
                    min-width: 317px;
                    min-height: 283px;
                    
                }
                @media only screen and (max-width:320px) {
                    min-width: 288px;
                    min-height: 258px;
                    
                }
                
            }
            .hov_box{
                top:-16px;
                right: 16px;
                position: absolute;
                background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
                min-width: 370px;
                min-height: 338px;
                opacity:0.2;
                font-family: $fontNav;
                font-style: normal;
                font-weight: 500;
                font-size: 24px;
                line-height: 28px;
                @extend %font-element;
                img{
                    display: block;
                    margin: 124px auto 30px auto;
                }
                &:hover{
                    opacity: 1;
                }
                @media only screen and (max-width:1220px) {
                    min-width: 350px;
                    min-height: 289px;
                    
                }
                @media only screen and (max-width:1024px) {
                    min-width: 317px;
                    min-height: 283px;
                    
                }
                @media only screen and (max-width:320px) {
                    min-width: 288px;
                    min-height: 258px;
                    
                }
            }
        
        }
        .pic_about{
            img{
                object-fit: cover;
                @media only screen and (max-width:1220px) {
                    max-width: 350px;
                    max-height: 289px;
                    
                }
                @media only screen and (max-width:1024px) {
                    max-width: 315px;
                    max-height: 282px;
                    
                }
                @media only screen and (max-width:320px) {
                    min-width: 288px;
                    min-height: 258px;
                    
                }
            }
            
        }
    }
 
}
/*Section about end*/

/*section futures start*/
.section_futures{
    background: #95E1D3;
    .container{
        display: flex;
        @media screen and (max-width:320px) {
            display: grid;
            grid-template-columns:repeat(2,auto);
        }
        .box_futures{
            padding: calc(10px + (80 - 10) * ((100vw - 320px) / (1510 - 320))) 0;
            border-right:0.5px solid #FFFFFF;
            display: flex;
            flex-direction: column;
            width: 100%;
            &:first-child{
                border-left:0.5px solid #FFFFFF;
            }
            @media screen and (max-width:320px) {
                border: none;  
                &:first-child{
                    border-left:none;
                }
            }
                  
            .number_futures{
                font-family: $font-main;
                font-size: calc(48px + (64 - 48) * ((100vw - 320px) / (1510 - 320)));
                line-height: 56px;
                @extend %font-element;
            }
            .text_futures{
                padding-top: calc(10px + (20 - 10) * ((100vw - 320px) / (1510 - 320)));
                font-family: $fontNav;
                font-size: calc(14px + (24 - 14) * ((100vw - 320px) / (1510 - 320)));;
                line-height: 28px;
                @extend %font-element;
    
            }        
        }

    }
}

/*section futures end*/

/*section_services start*/
.section_services{
    color: $darkColor;
    padding-top: calc(29px + (42 - 29) * ((100vw - 320px) / (1510 - 320)));
    padding-bottom: calc(14px + (91 - 14) * ((100vw - 320px) / (1510 - 320)));
    .container{
        .services_title{
            @extend %mainTitle;
       }
       .services_subtitle{
        @extend %subtitle;
        }
        .line{
            @extend %line;
            border: 2px solid $mainColor;
        }
        .services_content{
            padding-top: calc(66px + (80 - 66) * ((100vw - 320px) / (1510 - 320)));
            display: grid;
            grid-template-columns: repeat(3,auto);
            column-gap: 30px;
            row-gap: 148px;
            @media screen and (max-width:320px) {
                display: inline-block;
                & > div{
                    margin-top: 36px;
                }
                
            }
            .services_item{
                @extend %flex-sb;

                .content_item{
                    padding-left: 30px;
                    color:$darkColor;
                    font-family: $font-main;
                    .name_item{
                        @include adaptiv-font(24, 18);
                        line-height: 28px;
                        font-weight: 700;
                        align-items: center;
                        text-transform: uppercase;
                    }
                    .text_item{
                        @include adaptiv-font(18, 14);
                        line-height: 18px;
                        font-weight: 400;

                    }
                }
            }
        }
    }
}

/*section services end*/

/*section devices start*/
.section_devices{
    background:url(/src/img/devices/bg_devices.png);
    @media only screen and (max-width:320px) {
        padding-top: 42px;
        min-height: 514px;
    }
    .container{
        .devices_title{
            @extend %mainTitle;
        }
        .devices_subtitle{
            @extend %subtitle;
        }
        .line{
            @extend %line;
            border: 2px solid $mainColor;
        }
        .devices_content{
            padding: 57px 0 ;
            position: relative;
            @media only screen and (max-width:1024px) {  
                padding: 39px 0;
            }
            @media only screen and (max-width:320px) {       
                padding: 36px 0;
                
            }
            .tablet_img{
                margin: 0 auto;
                position: relative;
                top: 0;
                left: 0;
                .img_frame{
                    position: relative;
                    z-index: 3;
                    @media only screen and (max-width:1024px) {  
                        left: -80px;
                        }
                    @media only screen and (max-width:320px) {
                       display: none;                      
                    }
                    .tablet_frame{
                        object-fit: cover;
                        
                    }
                }
               .img_screen{
                z-index: 2;
                position: absolute;
                top:5%;
                left:22%;
                @media only screen and (max-width:1024px) { 
                    top:4%; 
                    left: 18%;
                }
                @media only screen and (max-width:320px) {
                    max-width: 274px;
                    max-height: 206px;
                    top: 0;
                    left: 0;

                }
                .tablet_screen{
                    object-fit: cover;
                    @media only screen and (max-width:320px) {
                        max-width: 274px;
                        max-height: 206px;  
                        border: 5px solid black;
                        border-radius: 10px; 
                    }

                }
                }
            }
            .phone_img{
                z-index:4;
                position:absolute;
                top:50%;
                left: 70%;
                & > img{
                    object-fit: cover;
                    width: 100%;
                }
                @media only screen and (max-width:1024px) {  
                    left: 680px;
                }
                @media only screen and (max-width:320px) {       
                    width: 85px;
                    height: 175px;
                    top: 170%;
                    left: 60%;
                }
            }
        }
    }
}


/*section devices end*/

/*section what start*/

.section_what{
    padding: calc(52px + (42 - 52) * ((100vw - 320px) / (1510 - 320))) 0 calc(31px + (114 - 31) * ((100vw - 320px) / (1510 - 320))) 0;
    .what_title{
        @extend %mainTitle;
    }
    .what_subtitle{
        @extend %subtitle;
    }
    .line{
        @extend %line;
        border: 2px solid $mainColor;
    }
    .what_text{
        @extend %text;
    }
    .what_content{
        width: 100%;
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width:320px) {  
            display: inline-block;
        }
        .what_pic{
            .what_img{
                object-fit: cover;
               
                @media only screen and (max-width:1024px) {
                    max-width: 486px;
                    max-height: 409px;
                    
                }
                @media only screen and (max-width:320px) {
                   width: 100%;
                    
                }
            }
            
        }
        .menu_details{
            width: 570px;
            display: flex;
            flex-direction: column;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 16px;
            align-items: center;
            color: $darkColor;
            @media only screen and (max-width:1024px) {  
                width: 484px;
            }
            @media only screen and (max-width:320px) {       
            width: 100%;
            margin-top: 29px;
            }
            details{
                cursor: pointer;
                width: 100%;
                p{
                    padding: 20px;
                }
            }
            details:nth-child(2){
                margin:18px 0;
            }
            details[open]{
                border: 1px solid #C6CBCD;
                
            }
            details[open] >summary{
                border: none;
                border-bottom: 1px solid #C6CBCD;
                .arrow{
                    transform: rotate(180deg);
                }
                
            }
            details > summary{
                padding: 10px 0;
                border:1px solid #C6CBCD ;
                list-style: none;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 700;
                font-size: 18px;
                line-height: 21px;
                
                text-transform: uppercase;
                color: #2D3033;
                & > img{
                    margin:0px  30px 0px 15px;
                }
                .arrow{
                   align-self: flex-end;
                }

            }
        }
    
    }

}


/*section what end*/


/*section comment start*/


.section_comment{
    padding:42px 0;
    background: #F8F8F8;
    @media  screen and (max-width:1024px) {
        padding: 28px 0;
        
    }
    .container{
        display: flex;
        .arrow1{
            @extend %arrow;
            cursor: pointer;
            transform: rotate(-135deg);
           
        }
        img{
            @media only screen and (max-width:320px) {
               display: none;
                
            }
        }
        .comment_content{
            padding: 0 0 0 30px;
            .comment_text{
                font-family: $font-main;
                font-style: italic;
                font-weight: 500;
                @include adaptiv-font(24,14);
                line-height: calc(16px + (28 - 16) * ((100vw - 320px) / (1510 - 320)));
                color: #A9AFB1;
            }
            .under_text{
                display: flex;
                .line{
                    margin:20px 56px 0 0;
                    width: 70px;
                    border-top:4px solid $mainColor;
                }
                .name_customer{
                    @extend %mainTitle;
                    @include adaptiv-font(30,18);
                }
            }
            
        }
        .arrow2{
            @extend %arrow;
            cursor: pointer;
            transform: rotate(42deg);  
        }
        
    }
}
/*section comment end */


/*section team start*/
.section_team{
    padding: calc(29px + (84 - 29) * ((100vw - 320px) / (1510 - 320))) 0 calc(57px + (84 - 57) * ((100vw - 320px) / (1510 - 320))) 0;
    .team_title{
        @extend %mainTitle;
    }
    .team_subtitle{
        @extend %subtitle;
    }
    .line{
        @extend %line;
        border: 2px solid $mainColor;
    }
    .team_text{
        @extend %text;
    }
    .team_content{
        padding-top:calc(18px + (58 - 18) * ((100vw - 320px) / (1510 - 320)));
        display: flex;
        justify-content: space-between;
        width: 100%;
        cursor: pointer;
        @media only screen and (max-width:320px) {
            display: inline-block;
             
         }

        .team_item{
            position: relative;
            @media only screen and (max-width:320px) {
                &:not(:last-child){
                    margin-bottom:  30px;
                }

             }
            
            
            .img_hov{
                opacity: 0;
                position: absolute;
                top: -16px;
                right: 16px;
                min-width: 370px;
                min-height: 424px;
                background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
                @media only screen and (max-width:1024px) {
                    min-width: 318px;
                    min-height: 359px;
                     
                }
                @media only screen and (max-width:320px) {

                    top: 73%;
                    left:36%;
                    max-width: 288px;
                    background: transparent;
                     
                }
                &:hover{
                    opacity: 1;
                }
                .menu_icons{
                    padding: 207px 0 0 117px;
                    @media only screen and (max-width:320px) {
                        padding: 0;

                     }
                }
            }
            .team_img{
                @media only screen and (max-width:1024px) {
                    & > img{
                        max-width: 318px;
                    }  
                }
                @media only screen and (max-width:320px) {
                    & > img{
                        max-width: 288px;
                    }  
                }
                & > img{
                    object-fit: cover;
                }
            }
            .team_name{
                padding: calc(5px + (25 - 5) * ((100vw - 320px) / (1510 - 320))) 0;
                font-family: $font-main;
                font-style: normal;
                font-weight: 700;
                @include adaptiv-font(24,18);
                line-height: 28px;
                @extend %font-element;
                color: $darkColor;
            }
            .team_prof{
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                @include adaptiv-font(18,14);
                line-height: 21px;
                @extend %font-element;
                color: $darkColor;
            }
            
        }
    }


}

/*section team end*/


/*section partners start*/
.section_partners{
    padding:calc(20px + (42 - 20) * ((100vw - 320px) / (1510 - 320)));
    background: #F8F8F8;
    .container{
        display: flex;
        justify-content: space-between;
        @media only screen and (max-width:320px) {
            display: grid;
            grid-template-columns:repeat(3,86px) ;
            grid-template-rows: repeat(4,86px);
                       
        }
        .partners_icons{
            & > img{
                object-fit: cover; 
                @media only screen and (max-width:320px) {
                    max-width: 86px;
                }
            }           
        }
        @media only screen and (max-width:320px) {
            .part2{
                grid-column: 3/4;
            } 
            .part3{
                grid-column:3/4;
                grid-row: 3/4;
            }
            .part5{
                
                grid-column: 2/3;
                grid-row: 2/3;
            }
            .part4{
                grid-column: 1/2;
                grid-row:3/4;
            }
            .part6{
                grid-column: 2/3;
                grid-row:4/5;
            }
                       
        }
    }
}
/*section partners end*/


/*section work start*/
.section_work{
    padding: calc(29px + (84 - 29) * ((100vw - 320px) / (1510 - 320))) 0;
    .work_title{
        @extend %mainTitle;
    }
    .work_subtitle{
        @extend %subtitle;
    }
    
    .line{
        @extend %line;
        border: 2px solid $mainColor;
    }
    .work_text{
        @extend %text;
        margin-bottom: 42px;
    }
    .work_content{
        
        display: grid;
        grid-template-columns: repeat(4,377px);
        @media only screen and (max-width:1024px){
            grid-template-columns: repeat(4,255px);
        }

        @media only screen and (max-width:320px){
            grid-template-columns: repeat(2,159px);
            grid-template-rows: repeat(5,auto);
        }

        .work_pic{   
            display: block;
            &.pic3{
                grid-row:1/3;
                grid-column: 3/4;
            }
            &.pic7{
                grid-column: 4/5;
            }
            &.pic6{
                grid-column: 2/3;
                max-width: 377px;
            }
            @media only screen and (max-width:320px){
                &.pic2{
                    grid-column:2/3 ;
                    grid-row:4/5 ;
                }
                &.pic3{
                    grid-column:2/3 ;
                    grid-row: 1/4;
                }
                
                &.pic5{
                    grid-column:1/2 ;
                    grid-row:2/3 ;
                }
                &.pic6{
                    grid-column: 1/3;
                }
                &.pic7{
                    grid-column: 1/2;
                    grid-row:3/4 ;
                }

            }
            img{
                @media only screen and (max-width:1024px){
                    max-width: 255px;
                }
                @media only screen and (max-width:320px){
                    max-width: 160px;
                }
                object-fit: cover;
                height: 100%;
            }
             
            
        }
    }
}

/*section work end*/


/*section comment2 start*/

.section_comment2{
    padding:calc(29px + (42 - 29) * ((100vw - 320px) / (1510 - 320))) 0;
    .container{
        display: flex;
        @media only screen and (max-width:320px){
            display: inline-block;
        }
        .arrow1{
            @extend %arrow;
            cursor: pointer;
            transform: rotate(-135deg);
        }
        .user_img{
            @media only screen and (max-width:320px){
              max-width: 115px;
              margin:0 0 42px 100px;
            }
        }
        .comment2_content{
            padding: 0 0 0 30px;
            .comment2_text{
                font-family: $font-main;
                font-style: italic;
                font-weight: 500;
                @include adaptiv-font(24,14);
                line-height: calc(16px + (28 - 16) * ((100vw - 320px) / (1510 - 320)));
                color: #A9AFB1;
            }
            .comment2_under{
                display: flex;
                .line{
                    margin:20px 56px 0 0;
                    width: 70px;
                    border-top:4px solid $mainColor;
                }
                .name_user{
                    @extend %mainTitle;
                    @include adaptiv-font(30,18);
                }
            }
        }
        .arrow2{
            @extend %arrow;
            cursor: pointer;
            transform: rotate(42deg);  
        }
        
    }
}
/*section comment2 end*/


/*section clients start*/

.section_clients{
    background:url(/src/img/clients/bg_clients.png);
    padding:calc(29px + (42 - 29) * ((100vw - 320px) / (1510 - 320))) 0;
    .container{
        .clients_title{
            @extend %mainTitle;
            @media only screen and (max-width:1024px){
                padding:10px 0;
            }
            

        }
        .clients_subtitle{
            @extend %subtitle;
            @media only screen and (max-width:1024px){
                padding:12px 0;
            }
        }
        .line{
            @extend %line;
            border: 2px solid $mainColor;
        }
        .clients_content{
            padding:calc(28px + (42 - 28) * ((100vw - 320px) / (1510 - 320))) 0;
            display: grid;
            grid-template-columns: repeat(2,50%);
            row-gap: 42px;
            column-gap: 50px;
            @media only screen and (max-width:1024px){
                row-gap: 24px;
                width: 100%;
            }
            @media only screen and (max-width:1024px){
                display: inline-block;
            }
            .client_box{
                display: flex;
                @media only screen and (max-width:1024px){
                    max-width:454px;
                }
                .client_img{
                    @media only screen and (max-width:1024px){
                        max-width: 86px;
                        max-height: 86px;
                    }
                }
                .client_info{
                    padding-left:calc(20px + (50 - 20) * ((100vw - 320px) / (1510 - 320)));
                    .client_name{
                        padding: 5px 0;
                        font-family: $font-main;
                        font-style: normal;
                        font-weight: 700;
                        @include adaptiv-font(24,18);
                        text-align: start;
                        line-height: 28px;
                        color: $darkColor;
                        @media only screen and (max-width:1024px){
                          font-size: 18px;
                        }
                    }
                    .client_profession{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 400;
                        @include adaptiv-font(18,14);
                        text-align: start;
                        line-height: 21px;
                        text-transform: uppercase;
                        color: $darkColor;
                        @media only screen and (max-width:1024px){
                            font-size: 16px;
                        }
                    }
                    .line{
                        margin: 32px 0;
                        width: 70px;
                        border-top:4px solid $mainColor;
                        @media only screen and (max-width:1024px){
                            margin: 24px 0;
                        }
                    }
                    .client_text{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        text-align: start;
                        line-height: 21px;
                        color: $darkColor;
                        @media only screen and (max-width:1024px){
                           font-size: 14px;
                           line-height: 16px;
                        }
                    }
                }
            }
        }
    }
}
/*section clients end*/


/*section stories start*/
.section_stories{
    padding:calc(29px + (80 - 29) * ((100vw - 320px) / (1510 - 320))) 0;
    .container{
        .stories_title{
            @extend %mainTitle;
        }
        .stories_subtitle{
            @extend %subtitle;
        }
        .line{
            @extend %line;
            border: 2px solid $mainColor;
        }
        .stories_content{
            padding-top:42px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            @media only screen and (max-width:1024px){
                display: inline-block;
            }
            .stories_item{
                position: relative;
                @media only screen and (max-width:1024px){
                    max-width:316px;
                }
                .item_pic{
                    img{
                        object-fit: cover;
                        @media only screen and (max-width:1024px){
                            max-width:316px;
                        }
                    }
                }
                .item_data{
                    padding: 5px;
                    position: absolute;
                    display: inline;
                    top:148px;
                    left:-14px;
                    background: #95E1D3;
                    font-family: $font-main;
                    font-style: normal;
                    line-height: 30px;
                    @extend %font-element;
                    .num_data{
                        font-weight: 700;
                        @include adaptiv-font(36, 24);
                    }
                    .month_data{
                        font-size: 18px;
                        font-weight: 500;
                    }
                }
                .item_title{
                    padding-top:30px;
                    font-family: $font-main;
                    font-style: normal;
                    font-weight: 700;
                    @include adaptiv-font(24, 18);
                    line-height: 28px;
                    text-align: start;
                    color: $darkColor;
                }
                .item_text{
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 400;
                    @include adaptiv-font(18, 14);
                    line-height: 21px;
                    color: $darkColor;
                }
                .info_item{
                    padding-top: 22px;
                    display: flex;
                    img{
                        display: inline-block;
                        padding-right: 16px;
                    }
                    .num_info1{
                        padding-right: 16px;
                    }

                }
            }
            

        }
    }
}

/*section stories end*/


/*section location start*/
.section_location{
    background:url(/src/img/location/location_bg.svg);
    padding:40px 0;
    .location_content{
        .location_text{
            @extend %subtitle;
            color:$mainColor;
        }
        .line{
            @extend %line;
            border: 2px solid $mainColor;
        }
        .img_location{
            transform: translate(47%,0);
            & > img{
                object-fit: cover;
            }
        }

    }
    
}

/*section location end */

/*footer start*/
.footer{
    background: #F8F8F8;
    padding-top:calc(28px + (42 - 28) * ((100vw - 320px) / (1510 - 320)));
    .footer_box{
        padding-bottom: 42px;
        border-bottom: 1px solid #C6CBCD;
        width: 100%;
        display: flex;
        justify-content: space-between;

        @media only screen and (max-width:1024px){
            padding-bottom:23px;
        }
        @media only screen and (max-width:1024px){
            display: inline-block;
        }
        .first_block{
           max-width: 370px;
           @media only screen and (max-width:1024px){
            max-width: 317px;
            }
        .footer_text{
            @extend %text;
            text-align: left;
            color: #C6CBCD;
            @media only screen and (max-width:1024px){
                padding: 15px 0;
                }
        }
        .num_followers{
            padding: 20px 0;
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 700;
            font-size: 36px;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            @media only screen and (max-width:1024px){
                padding: 10px 0;
                font-size: 24px;
                line-height: 30px;
                }


        }
        .followers{
            font-family: 'Raleway';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 30px;
            font-style: italic;
            letter-spacing: 0em;
            text-align: left;
        }
        .menu_social{
            padding: 10px 0;
            display: flex;
            border-top:  1px solid #C6CBCD;
            font-family: 'Raleway';
            font-style: italic;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            display: flex;
            align-items: center;
            color: #C6CBCD;
            .social_list{
                padding-left: 30px;
                width: 80%;
                display: flex;
                justify-content: space-between;
                @media only screen and (max-width:1024px){
                    padding-left: 20px;
                    }
                
                
            }
            }
            .emailButton{
                padding-top: 37px;
                width: 100%;
                display: flex;
               
                & > input{
                    padding: 18px 0;
                    border: 1px solid #C6CBCD;
                    display: inline-block;
                    &::placeholder{
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 21px;
                        text-align: center;

                        color: #C6CBCD;
                    }
                }
                & > button{
                    width: 100%;
                    cursor: pointer;
                    border: none;
                    background: #95E1D3;
                    font-family: 'Raleway';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 21px;
                    text-align: center;
                    text-transform: uppercase;
                    color: #FFFFFF;
                    &:hover{
                        background: #87D2C4;
                    }
                    &:active{
                        background: #5C958A;
                    }
                }
            }
        }
        .second_block{
            max-width: 470px;
            @media only screen and (max-width:1024px){
                max-width: 402px;
                }
            .secBlock_title{
                @extend %title_footer;
               
            }
            .blog_box{
                display: flex;
                &:nth-child(2){
                    padding: 20px 0;
                }

                
                .pic_blog{
                    & >img{
                    object-fit: cover;
                    }
                }
                .content_blog{
                    padding-left:30px ;
                    .name_blog{
                        font-family: $font-main;
                        font-style: normal;
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 21px;
                        display: flex;
                        align-items: center;
                        text-transform: uppercase;
                        color: #2D3033;
                    }
                    .data_blog{
                        padding: 10px 0;
                        font-family: 'Raleway';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 13px;
                        line-height: 15px;
                        display: flex;
                        align-items: center;
                        color: #2D3033;
                    }
                }
            }
        }
        .third_block{
            .thirdBlog_title{
                @extend %title_footer;
            }
            .content_instagram{
                display: grid;
                grid-template-columns: repeat(3,90px);
                grid-template-rows: repeat(3,88px);
            }
            .link_photo{
                padding: 30px 0;
                cursor: pointer;
                font-family: 'Raleway';
                font-style: normal;
                font-weight: 400;
                font-size: 13px;
                line-height: 15px;
                display: flex;
                align-items: center;
                text-decoration-line: underline;
                text-transform: uppercase;
                color: #2D3033;
            }
        }
    }
    .under_box{
      padding: 17px 0;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 15px;
        text-align: center;
        text-transform: uppercase;
        color: #2D3033;
    }
}
/*footer end*/